body{
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5;
  color: black;
}
*:focus{
  outline: 2px dotted #ff7500;
  outline-offset: 3px;
}
.site-header{
  word-spacing: 10px;
  display: flex;
  background-color: #FFF;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 5px solid #FF7500;
  justify-content: space-between;
  align-items: center;
}
.site-header-right{
  display: flex;
  align-items: center;
}
.site-ula{
  display: flex;
  padding: 0;
}
.site-link{
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
}
.site-main{
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  background-color: #FF7500;
  line-height: 15px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  transition: opacity 0.4s ease;

  color: white;
}

.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #252420;
  color: #FFF;
}

.hero-content{
  width: 390px;
}
.orange-line{
  width: 80px;
  height: 3px;
  border: none;
  background-color: #ff7500;
}

.hero-heading{
font-size: 40px;
line-height: 1.2;
font-family: "Roboto Condensed","Arial", sans-serif;
}

.hero-text{
  font-size: 16px;
  line-height: 150%;

}
.hero-img{
  width: 510px;
  height: 510px;
  border-radius: 8px;
}

.features{
  padding-top: 210px;
  padding-bottom: 210px;
}
.features-heading{
  width: 440px;
  font-size: 72px;
  font-weight: 700;
  font-family: "Roboto Condensed","Arial", sans-serif;
  line-height: 120%;
}
.feature-ul{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 0;
}
.feature-info{
  width: 340px;
}
.feature-icon{
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 117, 0, 0.2);
}
.feature-titile{
  font-size: 24px;
  line-height: 120%;
  font-family: "Roboto Condensed", "Arial", sans-serif;

  font-weight: 700;
}
.feature-text{
  font-size: 16px;
  line-height: 150%;

}

.promo{
display: flex;
justify-content: space-around;
border-radius: 12px ;
background-color: #252420;
color: #FFF;
}
.promo-content{
  justify-content: space-between;
  width: 440px;
}
.promo-heading{
  font-size: 40px;
  line-height: 48px;
  font-family: "Roboto Condensed","Arial", sans-serif;
}
.promo-text{
  font-size: 16px;
  line-height: 1,5;
}

.promo-img{
  width: 440px;
  padding-right: 64px;
  padding-bottom: 64px;
  border-radius: 12px;
  height: 440px;
  object-fit: cover;
}
.footer_one{
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.site-footer{
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #f8f8f8;

}
.footer-hr{
  height: 2px;
  border: 0;
 background-color: rgba(37, 36, 32, 0.5);
}
ul{
  padding: 0;
  list-style-type: none;
  line-height: 19px;
}
ul a{
  padding: 0;
  text-decoration: none;

}
.footer-flex{
  display: flex;
  justify-content: space-between;
}
