*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5;
  color: black;
}
*:focus{
  outline: 2px dotted #ff7500;
  outline-offset: 3px;
}
.site-header{
  word-spacing: 10px;
  background-color: #FFF;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 5px solid #FF7500;
}
.site-header-right{
  display: flex;
  align-items: center;
}
.site-ula{
  margin: 0;
  display: flex;
  padding: 0;
  margin-right: 32px;
}
.sitenav-items{
  margin-right: 32px;
}
.sitenav-items:last-child {
  margin-right: 0;
}
.site-link{
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
}
.site-main{
  display: inline-block;
  padding: 12px 24px;
  border-radius: 4px;
  background-color: #FF7500;
  line-height: 15px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  transition: opacity 0.4s ease;
  color: white;
}
/* Conteiner */
.site-header-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.conteiner{
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.hero{
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #252420;
  color: #FFF;
}
.hero-conteiner  {
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.hero-content{
  width: 390px;
}
.orange-line{
  width: 80px;
  height: 3px;
  margin: 0;
  margin-bottom: 40px;
  border: none;
  background-color: #ff7500;
}

.hero-heading{
font-size: 40px;
margin-top: 0;
margin-bottom: 24px;
line-height: 1.2;
font-family: "Roboto Condensed","Arial", sans-serif;
}

.hero-text{
  font-size: 16px;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 32px;

}
.hero-img{
  width: 510px;
  height: 510px;
  border-radius: 8px;
  box-shadow: 24px 24px 0 0 rgba(255, 117, 0, 0);
}

.features{
  padding-top: 210px;
  padding-bottom: 210px;
  justify-content: center;
  align-items: center;
}
.features-heading{

  width: 440px;
  margin-top: 0;
  margin-bottom: 72px;
  font-size: 72px;
  font-weight: 700;
  font-family: "Roboto Condensed","Arial", sans-serif;
  line-height: 120%;
}

.feature-ul{
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-right: ;
  padding: 0;
  justify-content: center;
  align-items: center;
}
.feature-info{
  width: 340px;
  margin: 0;
  margin-right: 40px;
}
.feature-info:last-child{
  margin-right: 0;
}
.feature-icon{
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 117, 0, 0.2);
}
.feature-titile{
  font-size: 24px;
  line-height: 120%;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
}
.feature-text{
  font-size: 16px;
  line-height: 150%;
}

.promo{
  padding-top: 120px;
  padding-bottom: 160px;
}
.promo-inner{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px ;
  background-color: #252420;
  padding: 64px;
  color: #FFF;
}
.promo-content{
  justify-content: space-between;
  width: 440px;
}
.promo-heading{
  margin: 0;
  margin-bottom: 24px;
  font-size: 40px;
  line-height: 48px;
  font-family: "Roboto Condensed","Arial", sans-serif;
}
.promo-text{
  font-size: 16px;
  line-height: 1,5;
  margin: 0;
  margin-bottom: 12 px;
}

.promo-text:last-child{
  margin-bottom: 0px;
}
.promo-text-iterm{
  margin-bottom:32px  ;
}
.promo-img{
  width: 440px;
  padding-right: 64px;
  padding-bottom: 64px;
  border-radius: 12px;
  height: 440px;
  object-fit: cover;
}
.footer_one{
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.site-footer{
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #f8f8f8;

}
.footer-hr{
  margin-top: 40px;
  margin-bottom: 64px;
  height: 2px;
  border: 0;
 background-color: rgba(37, 36, 32, 0.5);
}
ul{
  padding: 0;
  list-style-type: none;
  line-height: 19px;
}
.onee img{
  display: block;
}

ul a{
  padding: 0;
  text-decoration: none;

}
.footer-flex{
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.footer_one{
  margin: 0;
}
.marginn img{
margin-right: 16px;
}
.marginn img:last-child{
  margin-right: 0;
}
.marginn {
  display: block;
}